DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=
PORT=3001
DATA_DIR=
WEB_ORIGIN=http://localhost:5173,http://192.168.1.100:5173
DEFAULT_ADMIN_KEY=xiaope
OPAY_MERCHANT_ID=
OPAY_HASH_KEY=
OPAY_HASH_IV=
OPAY_STAGE=true
OPAY_RETURN_URL=
OPAY_PAYMENT_INFO_URL=
OPAY_CLIENT_BACK_URL=http://localhost:5173
ECPAY_DIRECT_MERCHANT_ID=
ECPAY_DIRECT_HASH_KEY=
ECPAY_DIRECT_HASH_IV=
ECPAY_DIRECT_STAGE=true
ECPAY_DIRECT_RETURN_URL=
PAYUNI_MERCHANT_ID=
PAYUNI_HASH_KEY=
PAYUNI_HASH_IV=
PAYUNI_STAGE=true
PAYUNI_NOTIFY_URL=
PAYUNI_RETURN_URL=
